<ion-view style="" title="History Item">
    <ion-content class="has-header" padding="'false'">
        <ion-list style="">
            <ion-item style="" class="item-divider">Blessings</ion-item>
            <ion-item style="" menu-close="">Item 1</ion-item>
            <ion-item style="" class="item-divider">Ask</ion-item>
            <ion-item style="" menu-close="">Item 2</ion-item>
            <ion-item style="" class="item-divider">Kill</ion-item>
            <ion-item style="" menu-close="">Item 3</ion-item>
            <ion-item style="" class="item-divider">Embrace</ion-item>
            <ion-item style="" menu-close="">Item</ion-item>
            <ion-item style="" class="item-divider">Resolutions</ion-item>
            <ion-item style="" menu-close="">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>