<ion-view title="Home">
  <ion-content class="has-header" padding="'true'">
    <div class="list card">
      <div class="item item-divider">Today</div>
      <div class="item item-body">
        <a class="button button-positive button-block" ui-sref="examin.take">Start Examination</a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Past</div>
      <div class="item item-body">
        <a class="button button-stable button-block" href="#/examen/history">Past Examens</a>
      </div>
    </div>
  </ion-content>
</ion-view>
