<ion-view title="Examination">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Blessings" icon="ion-thumbsup" href="#/examen/blessing">
            <ion-nav-view name="tab10"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Ask" icon="ion-plus" href="#/examen/ask">
            <ion-nav-view name="tab11"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Kill" icon="ion-android-delete" href="#/examen/kill">
            <ion-nav-view name="tab12"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Embrace" icon="ion-android-people" href="#/examen/embrace">
            <ion-nav-view name="tab13"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Resolution" icon="ion-android-checkbox-outline" href="#/examen/resolution">
            <ion-nav-view name="tab14"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Review" icon="ion-checkmark-round" href="#/examen/review">
            <ion-nav-view name="tab15"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
