<ion-view title="Examin Review">

  <!-- <ion-nav-buttons side="primary">
    <button class="button button-positive button-clear" ><i class="icon ion-bookmark"></i></button>
  </ion-nav-buttons> -->
  <ion-content>
    <ion-list>
      <div class="item item-divider"> Blessings </div>
      <ion-item ng-repeat="item in ctrl.summary.blessing"> {{item.text}} </ion-item>
      <div class="item item-divider"> Favors </div>
      <ion-item ng-repeat="item in ctrl.summary.ask"> {{item.text}} </ion-item>
      <div class="item item-divider"> Faults </div>
      <ion-item ng-repeat="item in ctrl.summary.kill"> {{item.text}} </ion-item>
      <div class="item item-divider"> Thoughts </div>
      <ion-item ng-repeat="item in ctrl.summary.embrace"> {{item.text}} </ion-item>
      <div class="item item-divider"> Resolutions </div>
      <ion-item ng-repeat="item in ctrl.summary.resolution"> {{item.text}} </ion-item>
    </ion-list>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="ctrl.submit()">Submit</button>
    </div>
  </ion-content>
</ion-view>
