<ion-view title="Freedom">
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="ctrl.help()"><i class="icon ion-help"></i></button>
    <button class="button button-clear" ng-click="ctrl.done()"><i class="icon ion-checkmark-round"></i></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Today, I can become more free by ..." rows="10" ng-model="ctrl.notes"></textarea>
      </label>
    </div>
  </ion-content>
</ion-view>

<script id="examin-s5-help.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Freedom</h1>
      <button class="button button-clear" ng-click="ctrl.helpClose()"><i class="icon ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content padding="true">
      <p>Speak with God about how He is inviting you to change your life, so that you can experience the freedom to be the-best-version-of-yourself.</p>
    </ion-content>
  </ion-modal-view>
</script>
